<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1020820846496-0af49pdoi6dm0nhgokvrdlal87c0dv1p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1020820846496-0af49pdoi6dm0nhgokvrdlal87c0dv1p</string>
	<key>API_KEY</key>
	<string>AIzaSyCGCSluPC0P2bJdREbfakqGN8TLtVHEGDE</string>
	<key>GCM_SENDER_ID</key>
	<string>1020820846496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiktokClone</string>
	<key>PROJECT_ID</key>
	<string>tiktok-parkjoonseo</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-parkjoonseo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1020820846496:ios:79f8d2ff93cc2ff719d6c5</string>
</dict>
</plist>